<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="folder1" value="C:\source_folder01"/>
    <add key="folder2" value="C:\source_folder02"/>
    <add key="folder3" value=""/>
    <add key="folder4" value=""/>
    <add key="folder5" value=""/>
    <add key="folder6" value=""/>
    <add key="folder7" value=""/>
    <add key="folder8" value=""/>
    <add key="folder9" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>